
/* Brand Colors ------------------------------------------------*/
$font-color-for-namber: #D0B194;
$font-color-section-name: #D0B194;
$font-color-white: #FFFFFF;
$font-color-black: #2F2F2F;
$font-color-serv-p: #3C3D3D;
$font-color-bottom-p: #3C3D3D;
$background-button: #FFFFFF;
$background-section: #F8F8F8;
$background-line: #D0B194;
$background-line-bottom: #2F2F2F;
$brand-font-family1: "Lato";
$brand-font-family2: "Cormorant Garamond", serif;
$base-font-style: normal;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-size1: 18px;
$font-size2: 35px;
$line-height3: 150%;
$line-height2: 130%;
$line-height1: 100%;






                    
                    
                   
                    
                    
                    
                    
                    